{{#each blogs as |blog|}}
<div class="card">
<div class="card-body">
  <a href="/blog/{{blog.id}}">
    <div>
      <p>Created by <b>{{user.username}}</b> on {{format_date createdAt}}</p>
        <h3>{{blog.title}}</h3>
    </div>
  </a>
</div>
</div>
{{/each}}